<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SearchServiceName" value="airportfacilitiesdirectory" />
    <add key="SearchServiceApiKey" value="6F5078244ED5A712FC66EA9A02126586" />
    <add key="SearchServiceIndexName" value="airports" />
    <add key="SearchServiceSuggesterName" value="suggester" />
  </appSettings>
</configuration>

